.DS_Store
.Trashes
*.swp
*.lock
*~.nib
*.xcworkspacedata
xcshareddata/
Pods/
xcuserdata/
DerivedData/
build/

*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
android/MidtransKotlinSample/.idea
android/MidtransJavaSample/app/.idea

